* {
    margin: 0;
    padding: 0;
}

body {
    background: url(assets/background-mobile.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}

#container {
    width: 300px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

/* Cabeçalho */
#logo {
    display: flex;
    justify-content: center;
    margin-top: 26%;
    margin-bottom: 16px;
    
    /* text-align: center; */
}

#introducao {
    color: #5B5B5B;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

#instrucao {
    color: white;
    font-weight: 600;
    margin: 18px 0;

    display: flex;
    justify-content: center;
}

/* Menu */

#menu {
    width: 100%;
    list-style: none;
}

.categoria {
    width: 100%;
    height: 80px;
    color: white;
    font-weight: 700;
    
    background-color: #2F2F2F;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);

    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;

    margin-bottom: 22px;

    transition: all;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(.38,.7,.6,.35);
}

.categoria:hover {
    background-color: #616161;
    cursor: pointer;

    transform: scale(1.03, 1.03);
    transform-origin: center center;

    transition: all;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(.38,.7,.6,.35);
}

#whatsapp {
    background-color: #33ad48;
    cursor: pointer;
}

#whatsapp:hover {
    background-color: #1fc23a;
}

.categoria img {
    width: 36px;
    height: 36px;
    margin: 0 20px;
    
}

.seta {
    position: absolute;
    right: 20px;
}

.setaBaixo {
    width: 26px;
    height: 26px;
    background-color: #5CDF71;

    border-radius: 50%;

    /* text-align: center; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.setaBaixo img {
    width: 14px;
}

/* Links cattegoria A*/

#linksA {
    margin-bottom: 20px;
}

#linksA li {
    color: #BBBBBB;
    font-size: 12px;
    font-weight: 400;
    
    list-style: none;

    margin-bottom: 4px;
    padding: 4px 30px;

}

#linksA li a {
    text-decoration: none;
    
}

#linksA li a:link {
    color: #BBBBBB;
    
}

#linksA li a:hover {
    font-weight: 600;
    color: white;

}

#linksA li a:visited {
    color: white;
    font-size: 8px;
    font-weight: 400;

    margin-bottom: 5px;
}

/* Links cattegoria B*/

#linksB {
    margin-bottom: 20px;
}

#linksB li {
    color: #BBBBBB;
    font-size: 12px;
    font-weight: 400;
    
    list-style: none;

    margin-bottom: 4px;
    padding: 4px 30px;

}

#linksB li a {
    text-decoration: none;
    color: #BBBBBB;
}

#linksB li a:link {
    color: #BBBBBB;
    
}

#linksB li a:hover {
    font-weight: 600;
    color: white;

}

#linksB li a:visited {
    color: white;
    font-size: 8px;
    font-weight: 400;
    text-decoration: none;

    margin-bottom: 5px;
}

/* Links cattegoria C*/

#linksC {
    margin-bottom: 20px;
}

#linksC li {
    color: #BBBBBB;
    font-size: 12px;
    font-weight: 400;
    
    list-style: none;

    margin-bottom: 4px;
    padding: 4px 30px;

}

#linksC li a {
    text-decoration: none;
    color: #BBBBBB;
}

#linksC li a:link {
    color: #BBBBBB;
    
}

#linksC li a:hover {
    font-weight: 600;
    color: white;

}

#linksC li a:visited {
    color: white;
    font-size: 8px;
    font-weight: 400;
    text-decoration: none;

    margin-bottom: 5px;
}

/* Rodapé */

footer {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;

    font-family: "Inter", sans-serif;
}

footer span {
    color: #5B5B5B;
    display: flex;
    justify-content: center;
}

footer span a{
    color: #5B5B5B;
    text-decoration: none;
}

footer span a:hover {
    color: #ffffff;
}
